{% extends "base.html" %}

{% block content %}
    <a href="{% url 'leaderboard' %}" class="pull-right well">View Leaderboard</a>
    <h2>All tracks</h2>
    <div class="row">
    {% for t in track %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="" >
      <div class="caption">
        <h3>{{ t.title }}</h3>
        <p><a href="{% url 'track' t.id %}" class="btn btn-primary" role="button">Solve</a></p>
      </div>
    </div>
  </div>
    {% endfor %}
</div>

{% endblock %}