{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Question</div>
                <div class="panel-body">{{ question.title }}</div>

            </div>
        {% if question.description %}
            <div class="panel panel-default">
                <div class="panel-heading">Description</div>
                <div class="panel-body">{{ question.description|linebreaks }}</div>

            </div>
        {% endif %}


            <div class="panel panel-default">
                <div class="panel-heading">Test Cases</div>
                <div class="panel-body">
                    {% for i in question.testcases %}
                        {{ i|linebreaksbr }}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Testcases output</div>
                <div class="panel-body">
                    {% for i in question.testcases_output %}
                        {{ i|linebreaksbr }}
                    {% endfor %}
                </div>
            </div>


            <meta id="data" data-case="{{ question.testcases }}">

        {% if question.explanation %}
            <div class="panel panel-default">
                <div class="panel-heading">Explanation</div>
                <div class="panel-body">{{ question.explanation|linebreaks }}</div>

            </div>
        {% endif %}
            <div class="panel panel-default">
                <div class="panel-body">Points: {{ question.points }}</div>

                <div class="panel-body">Correct submission {{ question.get_percentage_correct }}%</div>
            </div>


            <div id="result">
                <div>
                    <div class="alert alert-info" id ="message" style="display: none"></div>
                    {% include 'code_editor_content.html' %}

                    <!-- end of row -->
                    <div>
                        <button class="btn btn-success col-sm-offset-5" id="question-submit">Sumbmit question</button>
                    </div>
                </div>
            </div>
        {% if post_url %}
            <p style="display: none" id="post_url">{{ post_url }}</p>
        {% endif %}
            <script>
                {% if post_url %}
                    var post_url = $("#post_url").text();
                {% else %}
                    var post_url = "{% url 'test' %}";
                {% endif %}
                $("#question-submit").on("click", function () {
                    $("#output").html("Submitting..");
                    // disable submit btn
                    $("#btn").prop('disabled', true);
                    $.ajax(
                        {
                            type: "POST",
                            url: post_url,
                            data: {

                                source: editor.getValue(),
                                lang: $("select option:selected").text(),
                                id: {{ question.id }},
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),

                            },


                            success: function (output) {
                                // enables submit btn
                                $("#btn").prop('disabled', false)
                                var str = (output.output).toString();
                                str = decodeURIComponent(escape(str));
                                $("#output").html(str);
                                $("#message").css("display","block");
                                if (output.output == "Correct"){
                                $("#message").text("All Correct").css("background-color","lightgreen");
                                }else{
                                $("#message").text("Wrong Answer").css("background-color","#ff7644");
                                }
                            },

                            error: function (err) {
                                // enables submit btn
                                $("#btn").prop('disabled', false)
                                $("#output").html("Something went wrong please try again");
                },
                        })

                })


            </script>
{% endblock content %}