certifi==2022.12.7
chardet==3.0.4
defusedxml==0.5.0
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.11.28
django-allauth==0.33.0
django-appconf==1.0.2
django-compressor==2.2
django-crispy-forms==1.6.1
django-sass-processor==0.5.7
idna==2.6
libsass==0.13.4
oauthlib==2.0.2
python-decouple==3.1
python3-openid==3.1.0
pytz==2017.2
rcssmin==1.0.6
requests==2.18.4
requests-oauthlib==0.8.0
rjsmin==1.0.12
six==1.11.0
static3==0.7.0
urllib3==1.22
whitenoise==3.3.0
