<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}Code Check{% endblock %}</title>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'compiler/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
     <link href="{% static 'compiler/css/theme.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'compiler/js/jquery.min.js'%}"></script>
    <script src="{% static 'compilerg/js/bootstrap.min.js' %}"></script>
   
    {% block cdn %}{% endblock %}
</head>
<body>
   <nav  class="navbar navbar-inverse navbar-fixed-top" style="background: #199EB8">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://csirait.com">CSI RAIT</a>
          <a class="navbar-brand" href="/">Code Check</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
            <li><a href="{% url 'compiler' %}">Compiler</a></li>
            <li><a href="{% url 'alltracks' %}">Practice</a></li>
            <li><a href="{% url 'contests' %}">Contests</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}

                <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span>  {{ user.username}} :Profile</a></li>
                <li><a href="{% url 'account_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                {% else %}
              <li><a href="{% url 'account_signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="{% url 'account_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- displaying messages -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>    
    {% endif %}

    

<div class="container-fluid">

{% block content %}

{% endblock %}

</div>
</body>
</html>