<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Compiler</title>
    {% load staticfiles %}
    <link href="{% static 'compiler/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
     <link href="{% static 'compiler/css/theme.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'compiler/js/jquery.min.js'%}"></script>
    <script src="{% static 'compiler/js/bootstrap.min.js' %}"></script>

</head>
<body>
    
        {% block content %}
        {% endblock %}


</body>
</html>