{% extends 'base.html' %}

{% block content %}
<form id = "data">
    {% csrf_token %}

           <style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
    }
</style>

<div class="container">
    <div class="col-sm-12" id="header">
        <div class="col-sm-2">
            <h4 class="language-text">Select your language:</h4>
        </div>
        <div id="outer" class="col-sm-2">
            <select id="language" data-placeholder="Choose a Language..." class="" tabindex="1">
        <option value="1">c</option>
        <option value="54">fortran</option>
        <option value="39">smalltalk</option>
        <option value="3">java</option>
        <option value="14">bash</option>
        <option value="15">scala</option>
        <option value="43">java8</option>
        <option value="20">javascript</option>
        <option value="18">lua</option>
        <option value="44">db2</option>
        <option value="11">oracle</option>
        <option value="21">go</option>
        <option value="8">ruby</option>
        <option value="9">csharp</option>
        <option value="36">cobol</option>
        <option value="38">lolcode</option>
        <option value="13">clojure</option>
        <option value="12">haskell</option>
        <option value="7">php</option>
        <option value="50">rust</option>
        <option value="25">pascal</option>
        <option value="37">visualbasic</option>
        <option value="2">cpp</option>
        <option value="46">octave</option>
        <option value="42">tsql</option>
        <option value="41">whitespace</option>
        <option value="32">objectivec</option>
        <option value="10">mysql</option>
        <option value="22">d</option>
        <option value="23">ocaml</option>
        <option value="51">swift</option>
        <option value="48">xquery</option>
        <option value="33">fsharp</option>
        <option value="31">groovy</option>
        <option value="26">sbcl</option>
        <option value="6">perl</option>
        <option value="49">racket</option>
        <option value="40">tcl</option>
        <option value="24">r</option>
        <option value="5">python</option>
        <option value="30">python3</option>
        <option value="16">erlang</option>
    </select>
        </div>
        <div class="col-sm-4"></div>
        <!-- <div class="col-sm-6 pull-right" >
            <div class="col-sm-3 col-sm-offset-8">
            <h4 class="language-text">Custom Input: </h4>
            </div>
            <div class="col-sm-1 pull-right">
                <input id="custom-input-checkbox" type="checkbox">
            </div>
        </div> -->
    </div>
    <div id="spacing" class="col-sm-12">
        <div id="editor"></div>
    </div>
    <div class="col-sm-12" id="footer-compiler">
        <button id="btn" class="button-style">Submit your code</button>
    </div>
</div>

<div class="container" id="outermost">
    <div class="container" id="middle">
        <div class="container innermost">
            <div class="checkbox">
                <label><input id="custom-input-checkbox" type="checkbox">Use custom input to test the code</label>
            </div>

            <h4>Testcases:</h4>
            <textarea id="testcases" placeholder="Enter your testcases here..." ></textarea>
        </div>
        <div class="container innermost">
            <div id="output">
                <h4>Output:</h4>
            </div>
        </div>
    </div>

</div>
</form>


{% load static %}
<script src="{% static 'compiler/src-min/ace.js' %}" type="text/javascript" charset="utf-8"></script>


<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/c_cpp");
    editor.setShowPrintMargin(false);


    $("#language").change(function () {
        var l =($("select option:selected").text());
        if (l=="python" || l=="python3")
            {editor.getSession().setMode("ace/mode/python");}
        else if (l=="c"){
            editor.getSession().setMode("ace/mode/c_cpp");
        }
        else{
            editor.getSession().setMode("ace/mode/"+l);
        }


    });

    // toggles testcases box   
     $('#custom-input-checkbox').click(function () {

        $("#testcases").slideToggle();

    });  
     
    $(document).on("submit","#data" ,function (e) {
            e.preventDefault();
            $("#output").html("Submitting..");
            // disable submit btn 
            $("#btn").prop('disabled', true)
        $.ajax(
            {
                type: "POST",
                url : "{% url 'result' %}",
                data: {

                    source: editor.getValue(),
                    lang: $("select option:selected").text(),
                    testcases:$("#testcases").val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),

                },


                success: function (output) {
                    // enables submit btn
                    $("#btn").prop('disabled', false)
                    var str = (output.output).toString();
                     str=decodeURIComponent(escape(str));
                 $("#output").html(str);
                },

                error:function (err) {
                    // enables submit btn
                    $("#btn").prop('disabled', false)
                    $("#output").html("Something went wrong please try again");
                },
            })


    })


</script>
{% endblock %}