{% extends 'base.html' %}

{% block content %}
<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 0;
        right: 50%;
        bottom: 0;
        left: 0;
    }
</style>
<form id = "data">
    {% csrf_token %}

            <div id="editor"></div>
                <select id="language" data-placeholder="Choose a Language..." class="select pull-right" tabindex="1">
                    <option value="1">c</option>
                    <option value="54">fortran</option>
                    <option value="39">smalltalk</option>
                    <option value="3">java</option>
                    <option value="14">bash</option>
                    <option value="15">scala</option>
                    <option value="43">java8</option>
                    <option value="20">javascript</option>
                    <option value="18">lua</option>
                    <option value="44">db2</option>
                    <option value="11">oracle</option>
                    <option value="21">go</option>
                    <option value="8">ruby</option>
                    <option value="9">csharp</option>
                    <option value="36">cobol</option>
                    <option value="38">lolcode</option>
                    <option value="13">clojure</option>
                    <option value="12">haskell</option>
                    <option value="7">php</option>
                    <option value="50">rust</option>
                    <option value="25">pascal</option>
                    <option value="37">visualbasic</option>
                    <option value="2">cpp</option>
                    <option value="46">octave</option>
                    <option value="42">tsql</option>
                    <option value="41">whitespace</option>
                    <option value="32">objectivec</option>
                    <option value="10">mysql</option>
                    <option value="22">d</option>
                    <option value="23">ocaml</option>
                    <option value="51">swift</option>
                    <option value="48">xquery</option>
                    <option value="33">fsharp</option>
                    <option value="31">groovy</option>
                    <option value="26">sbcl</option>
                    <option value="6">perl</option>
                    <option value="49">racket</option>
                    <option value="40">tcl</option>
                    <option value="24">r</option>
                    <option value="5">python</option>
                    <option value="30">python3</option>
                    <option value="16">erlang</option>
                </select><br><br>
    <br><br><br>
            <div>

            <textarea id="testcases" placeholder="Enter your testcases here..." class="pull-right"></textarea>
            Try it Yourself »
            </div>
            <br><br>
            <input id="btn" class="pull-right btn btn-success" type="submit" value="SUBMIT">

</form>
{% load static %}
<script src="{% static 'compiler/src-min/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<br><br>
<div id="output" class="well  pull-right">
    Your output:-

</div>
<br><br>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/c_cpp");

    $("#language").change(function () {
        var l =($("select option:selected").text());
        if (l=="python" || l=="python3")
            {editor.getSession().setMode("ace/mode/python");}
        else if (l=="c"){
            editor.getSession().setMode("ace/mode/c_cpp");
        }
        else{
            editor.getSession().setMode("ace/mode/"+l);
        }


    });

    $(document).on("submit","#data" ,function (e) {
            e.preventDefault();

        $.ajax(
            {
                type: "POST",
                url : "{% url 'result' %}",
                data: {

                    source: editor.getValue(),
                    lang: $("select option:selected").text(),
                    testcases:$("#testcases").val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),

                },


                success: function (output) {

                    var str = (output.output).toString();
                     str=decodeURIComponent(escape(str));
                 $("#output").html(str);
                },

                error:function (err) {

                    $("#output").html("Something went wrong please try again");
                },
            })


    })


</script>
{% endblock %}