{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}
{% block head_title %}{% trans "Account" %}{% endblock %}
{% block content %}
    <script src="{% static 'compiler/js/email.js'%}"></script>
    <div class="email-addresses-container container">
        <h1>{% trans "Associated E-mail Addresses" %}</h1>
        {% if user.emailaddress_set.all %}
            <form action="{% url 'account_email' %}" class="email_list" method="post">
            {% csrf_token %}
            <fieldset class="blockLabels">
                <table class="table email-addresses-table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emailaddress in user.emailaddress_set.all %}
                            <tr>
                                <div class="associated-email-address ctrlHolder">
                                    <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">
                                        <input class="email-radio-input" id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
                                        <td>
                                            {{ emailaddress.email }}
                                        </td>
                                        <td>
                                            {% if emailaddress.verified %}
                                                <span class="verified">{% trans "Verified" %}</span>
                                            {% else %}
                                                <span class="unverified">{% trans "Unverified" %}</span>
                                            {% endif %}
                                            {% if emailaddress.primary %}
                                                <span class="primary">{% trans " (Primary) " %}</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="email-address-action-buttons buttonHolder" id="{{forloop.counter}}">
                                                <button class="btn make-primary secondaryAction" type="submit" name="action_primary">{% trans 'Make Primary' %}</button>
                                                <button class="btn send-verification secondaryAction" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
                                                <button class="btn remove-email primaryAction" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
                                            </div>
                                        </td>
                                    </label>
                                </div>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


                </fieldset>
            </form>
        {% else %}
            <p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>
        {% endif %}

        <h1>{% trans "Add E-mail Address" %}</h1>
        <form method="post" action="{% url 'account_email' %}" class="add_email">
            {% csrf_token %}
            <div class="add-email-container col-sm-4 col-xs-4 col-md-4">
                {{ form|crispy }}
                <div class="form-group"><button class="btn add-email-button" name="action_add" type="submit">{% trans "Add E-mail" %}</button></div>
            </div>
        </form>
    </div>
{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove'); 
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}