{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div class="container login-signup-container">
    <h1>{% trans "Sign In" %}</h1>
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="login-signup-button-container">
            <button class="btn btn-success login-signup-button primaryAction" type="submit">
                {% trans "Sign In" %}
            </button>
        </div>
        <div class="links">
            <div class="reset-password-link">
                <a class="button secondaryAction reset-password" href="{% url 'account_reset_password' %}">
                    {% trans "Forgot Password ?" %}
                </a>
            </div>
            <div class="signup-link">
                Don't have an account ? <a href="{{ signup_url }}">Sign up</a>
            </div>
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
                <div class="social-login-bar">
                    <div class="social-login-text">or use</div>
                    <a href="/accounts/google/login/?process=login">
                        <i class="fa fa-3x fa-google"></i>
                    </a>
                    <a href="/accounts/github/login/?process=login">
                        <i class="fa fa-3x fa-github"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
