body {
  padding-top: 70px;
  padding-bottom: 30px;
  /*background-color:#E5FFF2 ;*/
  background-color:#ecf0f1;
}

#spacing{
    padding-top:40%;
}


#footer-compiler{
    padding: 15px;
    background-color: #333;
}

#middle{
    margin-top: 20px;
    margin-bottom: 50px;
}

#outermost{
    background-color: #eee;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
}



.language-text{
    font-size: 15px;
    margin-top: 13px;
    margin-bottom: 10px;
    color:#eee;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}

.innermost{
    margin-top:30px;
    padding-left: 30px;
    padding-right: 80px;
}

#testcases{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}
#custom-check{
    margin-top:13px;
}

#header{
    border:1px;
    background: #333;
}

#lang-select{
    background-color: #000;
}

.button-style{
    background-color: #4CAF50; /* Green */
    border-radius: 5px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid #366624;
}

#language{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    text-align: left;
}

#outer{
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.wmd-panel{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

/*for overriding bootstrap list numbering*/
ol li.list-group-item { 
    list-style: decimal inside;
    display: list-item;
}


#testcases {
    display: none;
}

#nav-main{
    background: #199EB8;
    height: 70px;
}

#facebook-nav{
    color: white;
    margin-right: 40px;
    
    padding-top: !important 30px; 
}

#logo{
    max-height: 30px !important;
}
