body {
  
  padding-bottom: 30px;
  background-color:  rgba(231, 231, 231, 0.35) ;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.wmd-panel{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

/*for overriding bootstrap list numbering*/
ol li.list-group-item { 
    list-style: decimal inside;
    display: list-item;
}

#editor{
  height: 500px;
  
}