{% extends 'base.html' %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <style type="text/css">
    .personal{
        display: none;
    }
    </style>
<div class='col-md-9'>
     <h1>Hello {{ name }}</h1>
    <div class="panel panel-default">
    <div class="panel-body">
    Total points:- {{ points }}<br>
    {% if solved %}
    Solved questions:-<br>
    {% for question in solved %}
        <li>{{ question }}</li>
    {% endfor %}
    {% else   %}
        <h4>No questions solved</h4>
        <a href="{% url 'alltracks' %}" class="personal">Solve questions</a>


    {% endif %}
    </div>

    </div>
</div>


<div class='col-md-3 personal'>
<h3 class="page-header " align='center'>Account Management</h3>
<ul class="list-group">
    
        <li class="list-group-item">
            <a  href="{% url 'account_reset_password' %}">Change Password</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'account_email' %}">Change Email</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'socialaccount_connections' %}">Connected Accounts</a>
        </li>
    
</ul>
</div>

    {% if personal %}
    <script type="text/javascript">
    $(".personal").show()
    </script>
{% endif %}
{% endblock %}